body {
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    text-align: center;
}

span {
    font-style: italic;
}

#game-board {
    background-color: darkolivegreen;
}

#content {
    display: inline-block;
}